<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404</title>
  <link rel="stylesheet" href="/resources/css/styles-app.css">
</head>
<body>
  <div class="wrapper--error">
    <div class="landing-page">
      <div style="text-align:center;" class="icon__download">
        <h1 class="h1-error">Error 500.</h1>
        <p class="p-error">Lo sentimos, algo salió mal en el servidor.</p>
        <button class="button-error"><a href="/index">Regresar</a></button>
      </div>
    </div>
  </div>
</body>
</html>