<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="/resources/css/styles-login.css">
</head>
<body>
  <div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
      <div class="form-title">
        <h1>Gestor del recurso humano | Centro de Extensión</h1>
      </div>
      <div class="form-header">
        <h1>Inicia sesión</h1>
      </div>
      <div class="form-content">
        <form action="/login/auth" method="POST">
          <div class="form-group">
            <label for="crreo">Correo electrónico</label>
            <input id="correo" type="email" name="correo" required="required"/>
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input id="password" type="password" name="password" required="required"/>
          </div>
          <div class="form-group">
            <label for="rol">Rol:</label>
            <select name="rol" id="rol">
              <option value="Administrador">Administrador</option> 
              <option value="Delegado">Delegado</option> 
            </select>
          </div>
          <div class="form-group">
            <label class="form-remember">
              <input type="checkbox"/>Recuérdame
            </label><a class="form-recovery" href="#">¿Olvidaste la contraseña?</a>
          </div>
          <div class="form-group">
            <button type="submit">Ingresar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  
  <!-- Sweet alert -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <%- include('./swal.ejs'); %>
</body>
</html>