<header>
  <nav>
    <div class="nav-logo">
      <span><img src="/resources/imgs/logo-iush.jpg"></span>
    </div>
    <ul>
      <li><a href="/index"><span class="primero"><i class="fas fa-home"></i></span>INICIO</a></li>
      <li><a href="/crearTercero"><span class="segundo"><i class="fas fa-user-circle"></i></span>TERCEROS</a></li>
      <li><a href="/delegados"><span class="tercero"><i class="fas fa-users-cog"></i></span>DELEGADOS</a></li>
      <li><a href="/acercade"><span class="cuarto"><i class="fas fa-info-circle"></i></span>ACERCA DE</a></li>
      <li><a href="/logout"><span class="quinto"><i class="fas fa-sign-out-alt"></i></span>CERRAR SESIÓN</a></li>
    </ul>
  </nav>
</header>